<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Add Request</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Angular Validation -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>

</head>

<body id="page-top">
  <script>
    function checkValidate(nicNumber,mobileNum) {
        // console.log("Test");
        
        // const nic2  = document.getElementById(customerValidateForm.nic.value);

        const userNIC  = document.getElementById("nicNumber").value;
        console.log(userNIC);
    
        const userPhoneNum = document.getElementById("mobileNum").value;
        console.log(userPhoneNum);

        
        document.getElementById('result').innerHTML = document.getElementById("mobileNum").value;
        console.log(document.getElementById("result"));

        //  const customer = {
        //    nic: "971590432V",
        //    phoneNum: "0767739896"
        //  };


        // //console.log(customer.nic);
        // //console.log(customer.phoneNum);

        //  if (userNIC == customer.nic && userPhoneNum == customer.phoneNum) {
        //    console.log("Data is Valid");
        //    //document.write("Data is Valid");
        //  }
        //  else{
        //      console.log("Data is Not Valid");
        //      //document.write("Data is Not Valid");
        //  }


        const customerNIC = ["971590432V","971590432A","971590432B"];
        const customerPhoneNum = ["0767739896","0767739891","0767739892"];

            if(userNIC == customerNIC[0] && userPhoneNum == customerPhoneNum[0]){
              document.getElementById('result').innerHTML = "<span style='color: green;'>Data is valid</span>";
              console.log("Data is Valid");
                 
               // document.write("Data is Valid");
            }
            else if(userNIC == customerNIC[1] && userPhoneNum == customerPhoneNum[1]){
              document.getElementById('result').innerHTML = "<span style='color: green;'>Data is valid</span>";
              console.log("Data is Valid");
              //  document.write("Data is Valid");
            }
            else if(userNIC == customerNIC[2] && userPhoneNum == customerPhoneNum[2]){
              document.getElementById('result').innerHTML = "<span style='color: green;'>Data is valid</span>";
              console.log("Data is Valid");
              //  document.write("Data is Valid");
            }
            else{
              document.getElementById('result').innerHTML = "<span style='color: red;'>Data is not valid</span>";
              console.log("Data is Not Valid");
                // document.write("Data is Not Valid");
            }

      }
    </script>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <i class="fas fa-university"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Web Portal <sup>prototype</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="dashboard.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Nav Item - Request Entry -->
      <li class="nav-item active">
        <a class="nav-link" href="add_request.html">
          <i class="fas fa-fw fa-edit"></i>
          <span>Request Form</span></a>
      </li>

      <!-- Nav Item - Request List -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Request List</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A user accepted his request</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    90% requests are accepted today
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    167 requests are not accepted. Try resending the request
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Commercial Bank</span>
                <i class="fas fa-university"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Add Request</h6>
            </div>
            <div class="card-body" ng-app>
              <div class="row">
                <div class="col-lg-4">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Request via mobile number</h1>
                    </div>
                    <form class="user" name="customerValidateForm" onsubmit="checkValidate(nicNumber,mobileNum)" novalidate>
                      <div class="form-group row">
                        <div class="col-sm-12 mb-12 mb-sm-0" style="margin-bottom: 20px !important;">
                          <input type="text" class="form-control form-control-user" id="nicNumber" name="nicNumber"
                            placeholder="NIC number"
                            ng-model="customer.nicNumber"
                            ng-required="true">
                            <span
                            ng-show="customerValidateForm.nicNumber.$touched && customerValidateForm.nicNumber.$error.required" style="color:#ff6666"> Customer NIC Number is Required.</span>
                        </div>
                        <div class="col-sm-12 mb-12 mb-sm-0" style="margin-bottom: 20px !important;">
                          <input type="text" class="form-control form-control-user" id="mobileNum" name="mobileNum"
                            placeholder="Dialog mobile number"
                            ng-model="customer.mobileNum"
                            ng-required="true">
                            <span ng-show="customerValidateForm.mobileNum.$touched && customerValidateForm.mobileNum.$error.required" style="color:#ff6666"> Customer Mobile Number is Required.</span>
                        </div>
                        <div class="col-sm-12 mb-12 mb-sm-0">
                          <input type="submit" value="Request" class="btn btn-danger btn-user btn-block">
                        </div>
                        <div class="col-sm-12 mb-12 mb-sm-0">
                          <span id="result" name="result"/>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Fetched Data</h1>
                  </div>
                  <form class="user">
                    <div class="form-group row">
                      <div class="col-md-12 col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="requestBy" value="Commercial Bank"
                          readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" id="FirstName"
                          placeholder="First Name">
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="LastName" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="street" placeholder="Street">
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="city" placeholder="City">
                      </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                      <div class="col-sm-6 mb-6 mb-sm-0">
                        <a href="#" class="btn btn-success btn-user btn-block">
                          Verify
                        </a>
                      </div>
                      <div class="col-sm-6 mb-6 mb-sm-0">
                        <a href="#" class="btn btn-danger btn-user btn-block">
                          Decline
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Dialog PSI 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-danger" href="index.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

  <!-- API Call -->
  <script>
    function readTextFile(file) {
      var rawFile = new XMLHttpRequest();
      rawFile.open("GET", file, false);
      rawFile.onreadystatechange = function () {
        if (rawFile.readyState === 4) {
          if (rawFile.status === 200 || rawFile.status == 0) {
            var allText = rawFile.responseText;
            alert(allText);
          }
        }
      }
      rawFile.send(null);
    }

    readTextFile("file:///Users/psi/Documents/Deluxan/web-portal/json/users.json");
  </script>

</body>

</html>